<h1><center>PART A</center></h1>

### 1) Import numpy, pandas

In [1]:
# your code here
import numpy as np
import pandas as pd

In [2]:
# leave this cell blank

### 2) Read the heart.csv file into a dataframe called df, and  view a 2% random sample of the data

In [3]:
# your code here
df = pd.read_csv('heart.csv')
df.sample(frac=0.02)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
103,42,1,2,120,240,1,1,194,0,0.8,0,0,3,1
239,35,1,0,126,282,0,0,156,1,0.0,2,0,3,0
223,56,0,0,200,288,1,0,133,1,4.0,0,2,3,0
271,61,1,3,134,234,0,1,145,0,2.6,1,2,2,0
143,67,0,0,106,223,0,1,142,0,0.3,2,2,2,1
99,53,1,2,130,246,1,0,173,0,0.0,2,3,2,1

In [4]:
# leave this cell blank

### 3) Get info on df columns (what are the dtypes on each column)

In [5]:
# your code here
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.2 KB

In [6]:
# leave this cell blank

### 4) Split the data into Xtrain, Xtest, ytrain, ytest - with 20% in test, and random_state=1

In [7]:
# your code here
X = df.drop(['target'], axis=1)
y = df['target']

from sklearn.model_selection import train_test_split
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.2, random_state=1)

### Following code to deal with SetttingWithCopyWarning, and ensure we are working with a copy of the data and not a view
Xtrain = Xtrain.copy()
Xtest = Xtest.copy()
ytrain = ytrain.copy()
ytest = ytest.copy()

In [8]:
# leave this cell blank

### 5) Get basic stats on Xtrain (such as count, mean, std, etc)

In [9]:
# your code here
Xtrain.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
count,242.000000,242.000000,242.000000,242.000000,242.000000,242.00000,242.00000,242.000000,242.000000,242.000000,242.000000,242.000000,242.000000
mean,54.475207,0.694215,0.979339,131.380165,246.371901,0.14876,0.53719,149.524793,0.318182,1.023140,1.409091,0.727273,2.289256
std,9.155719,0.461694,1.024385,17.409520,51.509276,0.35659,0.52397,23.560318,0.466736,1.098264,0.612796,1.006205,0.610258
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.00000,0.00000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.000000,0.000000,0.000000,120.000000,212.000000,0.00000,0.00000,134.500000,0.000000,0.000000,1.000000,0.000000,2.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.00000,1.00000,154.000000,0.000000,0.800000,1.000000,0.000000,2.000000
75%,61.000000,1.000000,2.000000,140.000000,274.000000,0.00000,1.00000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000
max,77.000000,1.000000,3.000000,192.000000,564.000000,1.00000,2.00000,202.000000,1.000000,5.600000,2.000000,4.000000,3.000000

In [10]:
# leave this cell blank

### 6) Check if there are any NaNs in any of the columns in Xtrain

In [11]:
# your code here
Xtrain.isnull().any().any()

False

In [12]:
# leave this cell blank

### 7) Create two lists called numeric_features (with age, trestbps, chol, thalach, oldpeak), and categorical_features (with sex, cp, fbs, restecg, exang, slope, ca, thal)

In [13]:
# your code here
numeric_features = ['age', 'trestbps', 'chol', 'thalach', 'oldpeak']
categorical_features = ['sex', 'cp', 'fbs', 'restecg', 'exang', 'slope', 'ca', 'thal']

In [14]:
# leave this cell blank

### 8) Standard Scale all of the numeric features in Xtrain, include transformed numeric features in Xtrain, and drop original numeric features in Xtrain

In [15]:
# your code here
from sklearn.preprocessing import StandardScaler
ss = StandardScaler(with_mean=True, with_std=True)

Xnumss = pd.DataFrame(ss.fit_transform(Xtrain[numeric_features]), 
                      columns=['ss_'+x for x in numeric_features], 
                      index=Xtrain.index)
Xtrain = pd.concat([Xtrain, Xnumss], axis=1)
Xtrain = Xtrain.drop(numeric_features, axis=1)
Xtrain.sample(frac=0.02)

,sex,cp,fbs,restecg,exang,slope,ca,thal,ss_age,ss_trestbps,ss_chol,ss_thalach,ss_oldpeak
196,1,2,0,1,0,1,0,2,-0.927592,1.071737,-0.299048,-0.107385,2.351165
294,1,0,0,1,1,0,0,1,-1.146487,-0.655030,-1.505210,-0.234982,1.621233
243,1,0,0,1,1,1,1,3,0.276333,1.186855,0.537483,-2.616786,0.161369
173,1,2,0,0,0,2,2,3,0.385781,0.035677,-0.435228,0.998453,1.986199
171,1,1,0,1,0,0,0,3,-0.708697,-1.230618,-0.337957,0.785791,-0.021114

In [16]:
# leave this cell blank

### 9) OneHotEncode all of the categorical features in Xtrain, include transformed categorical features in Xtrain, and drop original categorical features in Xtrain

In [17]:
# your code here
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse=False, dtype=int, handle_unknown='ignore')
Xcat = pd.DataFrame(ohe.fit_transform(Xtrain[categorical_features]), 
                    columns=ohe.get_feature_names(), 
                    index=Xtrain.index)
Xtrain = pd.concat([Xtrain, Xcat], axis=1)
Xtrain.drop(categorical_features, axis=1, inplace=True)
Xtrain.sample(frac=0.02)

,ss_age,ss_trestbps,ss_chol,ss_thalach,ss_oldpeak,x0_0,x0_1,x1_0,x1_1,x1_2,...,x5_2,x6_0,x6_1,x6_2,x6_3,x6_4,x7_0,x7_1,x7_2,x7_3
192,-0.052010,-0.655030,-1.135580,-1.553480,0.343852,0,1,1,0,0,...,0,0,1,0,0,0,0,0,0,1
19,1.589706,0.496148,-0.143415,0.062744,0.708818,1,0,0,0,0,...,1,0,0,1,0,0,0,0,1,0
216,0.823571,-0.079441,0.323487,-2.233996,0.161369,1,0,0,0,1,...,0,0,1,0,0,0,0,0,0,1
171,-0.708697,-1.230618,-0.337957,0.785791,-0.021114,0,1,0,1,0,...,0,1,0,0,0,0,0,0,0,1
211,0.714124,-0.655030,0.265124,-0.405111,2.351165,0,1,1,0,0,...,0,0,1,0,0,0,0,0,0,1

In [18]:
# leave this cell blank

### 10) Fit a Logistic Regression Model to training data with random_state=1

In [19]:
# your code here
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()  
lr.fit(Xtrain, ytrain)

C:\Users\ishan\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [20]:
# leave this cell blank

### 11) Standard Scale all of the numeric features in Xtest, include transformed numeric features in Xtest, and drop original numeric features in Xtest

In [21]:
# your code here
Xnumss = pd.DataFrame(ss.transform(Xtest[numeric_features]), 
                      columns=['ss_'+x for x in numeric_features], 
                      index=Xtest.index)
Xtest = pd.concat([Xtest, Xnumss], axis=1)
Xtest = Xtest.drop(numeric_features, axis=1)
Xtest.sample(frac=0.02)

,sex,cp,fbs,restecg,exang,slope,ca,thal,ss_age,ss_trestbps,ss_chol,ss_thalach,ss_oldpeak
119,0,0,0,0,1,1,0,2,-0.927592,0.38103,-0.065598,0.105276,-0.933529

In [22]:
# leave this cell blank

### 12) OneHotEncode all of the categorical features in Xtest, include transformed categorical features in Xtest, and drop original categorical features in Xtest

In [23]:
# your code here
Xcat = pd.DataFrame(ohe.transform(Xtest[categorical_features]), columns=ohe.get_feature_names(), index=Xtest.index)
Xtest = pd.concat([Xtest, Xcat], axis=1)
Xtest.drop(categorical_features, axis=1, inplace=True)
Xtest.head()

,ss_age,ss_trestbps,ss_chol,ss_thalach,ss_oldpeak,x0_0,x0_1,x1_0,x1_1,x1_2,...,x5_2,x6_0,x6_1,x6_2,x6_3,x6_4,x7_0,x7_1,x7_2,x7_3
204,0.823571,1.647326,-1.602481,-0.192449,4.723443,1,0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
159,0.166885,-0.079441,-0.493590,0.573130,-0.933529,0,1,0,1,0,...,1,1,0,0,0,0,0,0,0,1
219,-0.708697,-0.079441,0.187307,0.020212,-0.933529,0,1,1,0,0,...,1,0,0,1,0,0,0,0,0,1
174,0.604676,-0.079441,-0.785404,-0.745368,1.256267,0,1,1,0,0,...,0,0,0,1,0,0,0,0,0,1
184,-0.489801,1.071737,-0.065598,-0.915497,1.438750,0,1,1,0,0,...,0,1,0,0,0,0,0,0,0,1

In [24]:
# leave this cell blank

### 13) Predict and Evaluate Logisitic Regression Model on Xtest

In [25]:
# your code here
ypred = lr.predict(Xtest)

from sklearn import metrics
print (metrics.accuracy_score(ytest, ypred))
print (metrics.confusion_matrix(ytest, ypred))
print (metrics.classification_report(ytest, ypred))

0.7868852459016393
[[21  9]
 [ 4 27]]
              precision    recall  f1-score   support

           0       0.84      0.70      0.76        30
           1       0.75      0.87      0.81        31

    accuracy                           0.79        61
   macro avg       0.79      0.79      0.78        61
weighted avg       0.79      0.79      0.79        61

In [26]:
# leave this cell blank

<h1><center>Part B</center></h1>

### 14) (a) Read in heart.csv in to a dataframe called df; (b) Split the data into Xtrain, Xtest, ytrain, ytest - with 20% in test, and random_state=1; (c) Create two lists called numeric_features (with age, trestbps, chol, thalach, oldpeak), and categorical_features (with sex, cp, fbs, restecg, exang, slope, ca, thal)

In [27]:
# your code here
#a
df = pd.read_csv('heart.csv')
#b
X = df.drop(['target'], axis=1)
y = df['target']
#from sklearn.model_selection import train_test_split
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.2, random_state=1)
### Following code to deal with SetttingWithCopyWarning, and ensure we are working with a copy of the data and not a view
Xtrain = Xtrain.copy()
Xtest = Xtest.copy()
ytrain = ytrain.copy()
ytest = ytest.copy()
#c
numeric_features = ['age', 'trestbps', 'chol', 'thalach', 'oldpeak']
categorical_features = ['sex', 'cp', 'fbs', 'restecg', 'exang', 'slope', 'ca', 'thal']

In [28]:
# leave this cell blank

### 15) Create a pipeline called "numeric_transformer" with a StandardScaler step called "ss" (use the same parameters that you used in Part A above)

In [29]:
# your code here
from sklearn.pipeline import Pipeline
numeric_transformer = Pipeline(
                                steps=[('ss', StandardScaler(with_mean=True, with_std=True))]
                                )

In [30]:
# leave this cell blank

### 16) Create a pipeline called "categorical_transformer" with a OneHotEncoder step called "ohe" (use the same parameters that you used in Part A above)

In [31]:
# your code here
categorical_transformer = Pipeline(
                                    steps=[('ohe', OneHotEncoder(sparse=False, dtype=int, handle_unknown='ignore'))]
                                    )

In [32]:
# leave this cell blank

### 17) Create a column transformer called "preprocessor" with two transformers: (a) the first transformer called "num" which uses the numeric_transformer you defined above on the numeric_features; and (b) the second transformer called "cat" which uses the categorical_transformer you defined above on the categorical_features

In [33]:
# your code here
from sklearn.compose import ColumnTransformer
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)],
    remainder='drop')

In [34]:
# leave this cell blank

### 18) Create a pipeline called "clf" with two steps: (a) the first step called "pp" which invokes the preprocessor you defined above; and (b) the second step called "lr" which involkes a logisitc regression model  (use the same parameters that you used in Part A above)

In [35]:
# your code here
from sklearn.linear_model import LogisticRegression  
clf = Pipeline(steps=[('pp', preprocessor),
                      ('lr', LogisticRegression())])

In [36]:
# leave this cell blank

### 19) Fit the clf pipeline to the training data

In [37]:
# your code here
clf.fit(Xtrain, ytrain)

C:\Users\ishan\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

Pipeline(memory=None,
         steps=[('pp',
                 ColumnTransformer(n_jobs=None, remainder='drop',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('num',
                                                  Pipeline(memory=None,
                                                           steps=[('ss',
                                                                   StandardScaler(copy=True,
                                                                                  with_mean=True,
                                                                                  with_std=True))],
                                                           verbose=False),
                                                  ['age', 'trestbps', 'chol',
                                                   'thalach', 'oldpeak']),
                                                 ('cat',
                                                  Pipeline(memory=None,
                                                           steps=[('ohe',
                                                                   OneHotE...
                                                                                 sparse=False))],
                                                           verbose=False),
                                                  ['sex', 'cp', 'fbs',
                                                   'restecg', 'exang', 'slope',
                                                   'ca', 'thal'])],
                                   verbose=False)),
                ('lr',
                 LogisticRegression(C=1.0, class_weight=None, dual=False,
                                    fit_intercept=True, intercept_scaling=1,
                                    l1_ratio=None, max_iter=100,
                                    multi_class='warn', n_jobs=None,
                                    penalty='l2', random_state=None,
                                    solver='warn', tol=0.0001, verbose=0,
                                    warm_start=False))],
         verbose=False)

In [38]:
# leave this cell blank

### 20) Predict and Evaluate clf pipeline on Xtest (you should end up with same results as in Part A above)

In [39]:
# your code here
ypred = clf.predict(Xtest)
from sklearn import metrics
print (metrics.accuracy_score(ytest, ypred))
print (metrics.confusion_matrix(ytest, ypred))
print (metrics.classification_report(ytest, ypred))

0.7868852459016393
[[21  9]
 [ 4 27]]
              precision    recall  f1-score   support

           0       0.84      0.70      0.76        30
           1       0.75      0.87      0.81        31

    accuracy                           0.79        61
   macro avg       0.79      0.79      0.78        61
weighted avg       0.79      0.79      0.79        61

In [40]:
# leave this cell blank